<h1> count: <%= @stations.count %> </h1>



<% @stations.each do |station| %>
  <p>
  name: <%= station.station_name %>
  address: <%= station.street_address %>
  hours: <%= station.access_days_time %>
  energy type: <%= station.fuel_type_code %>
  distance: <%= station.distance %>
  </p>
<% end %>
